VITE_WALLETCONNECT_PROJECT_ID=
VITE_POLYGON_RPC_URL=https://polygon.drpc.org
VITE_TIP_VAULT_ADDRESS=0x706DB138a532b59Df3664f3e8aB86e36a744DD00
VITE_CREATOR_REGISTRY_ADDRESS=0xFaaa9315Af9E0711Bc01Ecd717243117b816A268
VITE_DEPLOYMENT_BLOCK=92127803
VITE_RELAYER_URL=https://versetip-api.goodness-mbakara.workers.dev
VITE_STORAGE_API_URL=https://versetip-api.goodness-mbakara.workers.dev
VITE_ANALYTICS_SCRIPT=https://analytics.vgdh.io/js/script.js
VITE_ANALYTICS_DOMAIN=versetip.vercel.app
